<div class="login-box-body">

  <p class="login-box-msg">
    Sign in to start PROMAS !!
  </p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <% if flash[:alert] %>
      <div class="callout callout-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="form-group has-feedback">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email" %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Password" %>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>

    <div class="row">
      <div class="col-xs-6">
          <% if devise_mapping.rememberable? -%>
            <div class="form-group has-feedback font-size-12">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </div>
      </div>
      <div class="text-center">
        <div class="col-xs-12">
          <%= f.submit "ログイン", class: "btn btn-raised btn-primary"%>
        </div>
      </div>

  </div>
<% end %>

</div>
