<div class="content-header-outer">
  <section class="content-header">
    <h1>
      書籍新規登録
    </h1>
  </section>
</div>
<section class="content book-info-block-1 margin-top-50">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <%= form_tag(book_create_path, method: "POST", class: "form") do %>
          <input type="hidden" name="isbn_10" value="<%= @book[:isbn_10] %>">
          <input type="hidden" name="isbn_13" value="<%= @book[:isbn_13] %>">
          <input type="hidden" name="asin" value="<%= @book[:asin] %>">
          <input type="hidden" name="image_url" value="<%= @book[:image_url] %>">
          <input type="hidden" name="detail_page_url" value="<%= @book[:detail_page_url] %>">
          <div class="box-body">
            <div class="form-group col-md-4 text-center padding-top-20">
              <%= image_tag("#{@book[:image_url]}") %>
            </div>
            <div class="form-group col-md-8">
              <label for="inputTitle" class="col-md-2 control-label">タイトル<span class="asterisk">*</span></label>
              <div class="col-md-5">
                <input type="text" class="form-control" name="title" value="<%= @book[:title] %>" placeholder="title" required autofocus="true" readonly="true">
                <p class="help-block">You should really write something here</p>
              </div>
            </div>
            <div class="form-group col-md-8">
              <label for="inputAuthor" class="col-md-2 control-label">著者<span class="asterisk">*</span></label>
              <div class="col-md-5">
                <input type="text" class="form-control" name="author" value="<%= @book[:author] %>" placeholder="author" required>
              </div>
            </div>
            <div class="form-group col-md-8">
              <label for="inputLimitDate" class="col-md-2 control-label">貸出期間<span class="asterisk">*</span></label>
              <div class="col-md-5">
                <%= select_tag "return_day_type", options_for_select(RETURN_DAYS.map {|return_day| [return_day[:label], return_day[:id]]}), class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-info" id="createBookBtn">登録</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
