<div class="content-header-outer">
  <section class="content-header">
    <h1>書籍検索</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
      <li class="active">書籍検索</li>
    </ol>
  </section>
</div>
<div id="book-search">
  <section class="content books-search-block-1">
    <div class="row">
      <form method="GET" action="/book/search" class="form-horizontal" id="book-search-form">
        <div class="form-group col-sm-12">
          <div class="col-sm-4 form-group">
            <div class="col-sm-2">&nbsp;</div>
            <%= radio_button_tag 'search_from', "exist_data","", {:class => "flat-green"} %>
            <span for="flat-radio-1" class="">既存のデータから検索する</span>
          </div>
          <div class="col-sm-4 form-group">
            <%= radio_button_tag 'search_from', "aws_data","", {:class => "flat-green"} %>
            <span for="flat-radio-1" class="">Amazonから検索する</span>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <div class="form-group col-sm-4">
            <label class="col-sm-3 control-label">key</label>
            <div class="col-sm-8 padding-0">
              <%= select_tag :key, options_for_select(get_book_columns(), params[:key]), :class => 'key form-control' %>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label class="col-sm-4 control-label">キーワード</label>
            <div class="col-sm-8 padding-0">
              <%= text_field_tag :keyword, params[:keyword], :class => 'keyword form-control' %>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-5 search-btn">
              <button class="btn btn-block btn-success" id="data-search-btn">検索</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="post">
      <div class="row">
        <div class="col-sm-12">
          <div class="book-search-title">
            <h3>検索結果</h3>
          </div>
          <% if @book_search_results.present? %>
            <ol class="book-search-list">
              <% @book_search_results.each do |book_search_result| %>
                <li class="book-search-result">
                  <%= link_to image_tag("#{book_search_result[:image_url]}"), book_detail_path %>
                    <div class="title">
                      <%= link_to "#{book_search_result[:title]}", "#{book_search_result[:detail_page_url]}", target: "_blank"  %>
                    </div>
                    <div class="author">
                      <%= book_search_result[:author] %>
                    </div>
                    <div class="isbn_10">
                      <label class="font-bold">ISBN-10:</label>&nbsp;<%= book_search_result[:isbn_10] %>
                    </div>
                    <div class="isbn_13">
                      <label class="font-bold">ISBN-13:</label>&nbsp;<%= book_search_result[:isbn_13] %>
                    </div>
                    <div class="new-btn">
                      <%= link_to "データ登録", book_new_path, class: "btn btn-info" %>
                    </div>
                </li>
              <% end %>
            </ol>
          <% else %>
            <div class="col-sm-12 search_empty_msg">
              <p> <%= t('errors.messages.search_empty') %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
