<div class="content-header-outer">
  <section class="content-header">
    <h1>
      書籍情報
    </h1>
  </section>
</div>
<section class="content book-info-block-1 margin-top-50">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <%= form_tag(borrow_history_create_path, method: "POST", class: "form") do %>
          <input type="hidden" name="book_id" value="<%= @book[:id] %>">
          <div class="box-body">
            <div class="col-md-5">
              <div class="form-group text-center">
                <%= image_tag("#{@book[:image_url]}") %>
              </div>
              <div class="form-group text-center">
                <label class="return-status">
                  <% if @is_borrowing %>
                    <%= return_status_label(@latest_book_history.return_status) %>
                  <% else %>
                    貸出可能
                  <% end %>
                </label>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group col-md-8">
                <label for="inputTitle" class="col-md-3 control-label">タイトル<span class="asterisk">*</span></label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="title" value="<%= @book[:title] %>" readonly="true">
                </div>
              </div>
              <div class="form-group col-md-8">
                <label for="inputAuthor" class="col-md-3 control-label">著者<span class="asterisk">*</span></label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="author" value="<%= @book[:author] %>" eadonly="true">
                  <p class="help-block">You should really write something here</p>
                </div>
              </div>
              <div class="form-group col-md-8">
                <label for="inputLimitDate" class="col-md-3 control-label">貸出期間</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="return_limit_date" value="<%= return_day_label(@book[:return_day_type]) %>" readonly="true">
                </div>
              </div>
              <div class="form-group col-md-8">
                <label for="inputLimitDate" class="col-md-3 control-label">返却期限</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="return_limit_date" value="<%= calc_date(@book[:return_day_type]) %>" readonly="true">
                </div>
              </div>
              <div class="form-group col-md-8">
                <label for="inputStock" class="col-md-3 control-label">在庫数</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="stock" value="<%= @total_stock %>冊(貸出中：<%= @borrow_count %>冊)" readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <% if @is_borrowing %>
              <label>※申し訳ございません。ただいま全て貸出中です。</label>
            <% else %>
              <button type="submit" class="btn btn-info" id="borrowBtn">借りる</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
