<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview <%= @user_menu %>">
        <%= link_to users_path do %>
          <i class="fa fa-child" aria-hidden="true"></i><span>利用者一覧</span> <i class="fa fa-refresh pull-right"></i>
        <% end %>
      </li>
      <li class="treeview <%= @book_menu %>">
        <%= link_to books_path do %>
          <i class="fa fa-book"></i> <span>書籍一覧</span> <i class="fa fa-refresh pull-right"></i>
        <% end %>
      </li>
      <li class="treeview <%= @book_search_menu %>">
        <%= link_to book_search_path do %>
          <i class="fa fa-search"></i> <span>書籍検索</span> <i class="fa fa-refresh pull-right"></i>
        <% end %>
      </li>
      <li class="treeview <%= @borrow_history_menu %>">
        <a href="">
          <i class="fa fa-history"></i> <span>貸出履歴</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
          <li class="active">
            <%= link_to borrow_histories_path do %>
              <i class="fa fa-list-ol"></i>貸出履歴一覧
            <% end %>
          </li>
          <!-- <li class="active">
            <%# link_to borrow_hisotory_ranking_path do %>
              <i class="fa fa-line-chart"></i>貸出履歴ランキング
            <%# end %>
          </li> -->
        </ul>
      </li>
    </ul>
  </section>
</aside>
