<!DOCTYPE html>
<html>
<head>
  <title>PROMAS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= include_gon %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue sidebar-mini" data-controller-name="<%= params[:controller] %>" data-action-name="<%= params[:action] %>">
  <div class="wrapper">
    <!-- Header -->
    <%= render '/layouts/application_header' %>
    <%= render '/layouts/application_sidebar' %>
    <div class="content-wrapper" style="min-height: 916px;">
      <%= yield %>
    </div>
  </div>
</body>
</html>
